/*CSS File */

html {
	background: url(images/bg_image1.png) no-repeat center center fixed;
	background-size: cover;
	height: 100%;
	/* overflow: hidden; */
}

/*body{
		background-color: #ccdde1;
	} */
table,
td {
	border: 1px solid black;
	border-collapse: collapse;
	padding: 10px;
	background-color: #d1e9de;
}

.layout {
	border: 0px;
	/*border-collapse: collapse; */
	padding: 10px;
	background-color: inherit;
}

h1,
h2,
h3 {
	text-align: center;
}

#advice {
	display: none;
}